<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste Mustache</title>
</head>
<body>
    <h1>Batata</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ut debitis, consequuntur adipisci fuga atque ex nostrum, deleniti nobis, sit labore! Possimus, qui quasi minus eaque quod iste! Laborum, odit.</p>
</body>
</html>